# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Env
.env
.env.local

# Supabase
supabase/.temp/

# OS
.DS_Store
Thumbs.db

# Secrets
*.keystore
*.jks
key.properties